.login-signup{
    width: 100%;
    height: 850px;
    background: #fce3fe;
    padding-top: 100px;

}
.login-signup-container{
width: 500px;
height: 650px;
background: white;
margin: auto;
padding: 40px 60px;
border: 2px solid black;
padding-bottom: 20px;
} 
.login-signup-container h1{
    margin: 20px 0px;
}
.login-signup-fileds{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.login-signup-fileds input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.login-signup-container button{
  width: 100%;
  height: 72px;
  color: white;
  background: red;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.login-signup-text{
    margin-top:20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-signup-text span{
    color:red;
    font-weight: 600;
    cursor: pointer;
}
.login-signup-agree{
 display: flex;
 align-items: center;
 margin-top: 20px;
 gap: 20px;
 color: #5c5c5c;
 font-size: 18px;
 font-weight: 400;
}
@media(max-width:500px){
    .login-signup{
        width: 100%;
    }
    .login-signup-container{
        width: 100%;
    }
    .login-signup-fileds input{
      height: 60px;
      font-size: 15px;
    }
    .login-signup-container button{
        height: 60px;
    }
    .login-signup-container h1{
        font-size: 25px;
    }
    .login-signup-agree{
        font-size: 15.5px;
    }
    .login-signup-container button{
        font-size: 22px;
    }
    .login-signup-text{
        font-size: 17.5px;
    }
    
}